[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
logzero = "*"
"pwntools3" = {git = "https://github.com/arthaud/python3-pwntools.git"}

[dev-packages]

[requires]
python_version = "3.7"
